@using Isen.DotNet.Library.Models.Implementation;
@using Isen.DotNet.Library.Repositories.Interfaces;
@{
    ViewData["Title"] = "Map";
    ViewData["Desc"] = "Affichage des points d'intérêt sur une map"; 
}




<div class="row">
    <div class="col-md-12">
        <h1>Map <small>/Map/Map</small></h1>
        <p>Ceci est le contenu de la vue Map, action Map</p>
    </div>
</div>


 
<div>
    <select id="departement" name="departement"></select>
    <select id="commune" name="commune"></select>
    <select id="category" name="category"></select>
</div>

<div id="map"></div>


<script>

    // PARTIE DROPDOWN MENU
    function functionDept(){
        var dropdown = document.getElementById('departement');
        dropdown.length = 0;

        var defaultOption = document.createElement('option');
        defaultOption.text = 'Choisissez un departement';

        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;

        var urlDeptApi = 'http://localhost:5000/api/departements/all';

        var request = new XMLHttpRequest();
        request.open('GET', urlDeptApi, true);

        request.onload = function() {
        if (request.status === 200) {
            const data = JSON.parse(request.responseText);
            let option;
            for (let i = 0; i < data.length; i++) {
            option = document.createElement('option');
            option.text = data[i].name;
            dropdown.add(option);
            }
        } else {
            // Reached the server, but it returned an error
        }   
        }

        request.onerror = function() {
        console.error('An error occurred fetching the JSON from ' + urlDeptApi);
        };

        request.send();
    }
    // COMMUNES
    function functionCommune(){
        var dropdown = document.getElementById('commune');
        dropdown.length = 0;

        var defaultOption = document.createElement('option');
        defaultOption.text = 'Choisissez une commune';

        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;

        var urlCommuneApi = 'http://localhost:5000/api/communes/all';

        var request = new XMLHttpRequest();
        request.open('GET', urlCommuneApi, true);

        request.onload = function() {
        if (request.status === 200) {
            const data = JSON.parse(request.responseText);
            let option;
            for (let i = 0; i < data.length; i++) {
            option = document.createElement('option');
            option.text = data[i].name;
            dropdown.add(option);
            }
        } else {
            // Reached the server, but it returned an error
        }   
        }

        request.onerror = function() {
        console.error('An error occurred fetching the JSON from ' + urlCommuneApi);
        };

        request.send();
    }
    /////////////////////////
    
    // CATEGORIES

    function functionCat(){
        var dropdown = document.getElementById('category');
        dropdown.length = 0;

        var defaultOption = document.createElement('option');
        defaultOption.text = 'Choisissez une catégorie';

        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;

        var urlCatApi = 'http://localhost:5000/api/categories/all';

        var request = new XMLHttpRequest();
        request.open('GET', urlCatApi, true);

        request.onload = function() {
        if (request.status === 200) {
            const data = JSON.parse(request.responseText);
            let option;
            for (let i = 0; i < data.length; i++) {
            option = document.createElement('option');
            option.text = data[i].name;
            dropdown.add(option);
            }
        } else {
            // Reached the server, but it returned an error
        }   
        }

        request.onerror = function() {
        console.error('An error occurred fetching the JSON from ' + urlCatApi);
        };

        request.send();
    }

    // PARTIE MAP

    functionDept();
    functionCommune();
    functionCat();

    var xmlhttp = new XMLHttpRequest();

    var test = 1;
    
    if (test === 1) {
        var url = "http://localhost:5000/api/pois/all";
    }else if (test === 2) {
        var url = "http://localhost:5000/api/pois/departement/Var";
    } else {
        var url = "http://localhost:5000/api/pois/commune/Toulon";
    }
    

    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            myFunction(myArr);
        }
    };
    xmlhttp.open("GET", url, true);
    xmlhttp.send();
    var out = "";
    function myFunction(arr) {
    
        var i;
        
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 43.467768, 
                lng: 6.095036
            },
            zoom: 7
        });
        var markers = [];
        var contentString = [];
        var infowindows = [];

        
        for (i = 0; i < arr.length; i++) {
            markers[i] = new google.maps.Marker({
                map: map,
                position: { 
                    lat : Number(arr[i].address.latitude), 
                    lng : Number(arr[i].address.longitude) 
                }
            });
            markers[i].index = i;
            contentString[i] = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h1 id="firstHeading" class="firstHeading">' + arr[i].name +'</h1>'+
                '<div id="bodyContent">'+
                '<p><b> Description : </b>' + arr[i].description + '</p>'+
                '<p><b> Categorie Poi : </b>' + arr[i].category.name + '</p>'+   
                '<p><b> Description Catégorie : </b>' + arr[i].category.description + '</p>'+
                '<p><b> Adresse : </b>' + arr[i].address.name + ', ' + arr[i].address.text + ', ' + arr[i].address.zipcode + ' ' + arr[i].address.commune.name + ', ' + arr[i].address.commune.departement.name +'</p>'+
                '<p><b> Latitude : </b>' + arr[i].address.latitude + '</p>'+
                '<p><b> Longitude : </b>' + arr[i].address.longitude + '</p>'+
                '</div>'+
                '</div>';

            infowindows[i] = new google.maps.InfoWindow({
                content: contentString[i]
            });
            //infowindow.open(map, marker);
            /*marker.addListener('click', function() {
                infowindow.open(map, marker);
            });*/
            google.maps.event.addListener(markers[i], 'click', function () {
                for(var j = 0; j < infowindows.length; j++){
                    infowindows[j].close();
                }
                infowindows[this.index].open(map,markers[this.index]);
                map.panTo(markers[this.index].getPosition());                
            });
        }
    }
    function initMap() {
 
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDIyBVXMvxcz80bm5lJ2KzURksGmma92M&callback=initMap"
        async defer></script>

<div class="row">
</div>