@using Isen.DotNet.Library.Models.Implementation;
@{
    ViewData["Title"] = "Map";
    ViewData["Desc"] = "Affichage des points d'intérêt sur une map";
    
   
}


<div class="row">
    <div class="col-md-12">
        <h1>Map <small>/Map/Map</small></h1>
        <p>Ceci est le contenu de la vue Map, action Map</p>
    </div>
</div>

<div id="json"></div>
<div id="map"></div>

<script>
    var xmlhttp = new XMLHttpRequest();
    var url = "http://localhost:5000/api/pois/all";

    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            myFunction(myArr);
        }
    };
    xmlhttp.open("GET", url, true);
    xmlhttp.send();
    var out = "";
    function myFunction(arr) {
    
    var i;
    /*for(i = 0; i < arr.length; i++) {
        out += '<a href="' + arr[i].category.poiCollection + '">' +
        arr[i].categoryId +
        arr[i].category.name + 
        arr[i].address.text +
        arr[i].address.name +
        arr[i].address.latitude +
        arr[i].address.longitude +
        arr[i].address.commune.name +
        arr[i].address.commune.departement.name +
        arr[i].description +
        arr[i].name + '</a><br>';
    }
    document.getElementById("json").innerHTML = out;*/
     var map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 43.467768, 
                lng: 6.095036
            },
            zoom: 8
        });
        var markers = [];
        var contentString = [];
        var infowindows = [];
        //var infowindow = new google.maps.InfoWindow();
        for (i = 0; i < arr.length; i++) {
            markers[i] = new google.maps.Marker({
                map: map,
                position: { 
                    lat : Number(arr[i].address.latitude), 
                    lng : Number(arr[i].address.longitude) 
                    }
            });
            markers[i].index = i;
            contentString[i] = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">' + arr[i].name +'</h1>'+
            '<div id="bodyContent">'+
            '<p>' + arr[i].description + '</p>'+
            '<p>' + arr[i].address.name + '</p>'+
            '</div>'+
            '</div>';

            infowindows[i] = new google.maps.InfoWindow({
                content: contentString[i]
            });
            //infowindow.open(map, marker);
            /*marker.addListener('click', function() {
                infowindow.open(map, marker);
            });*/
            google.maps.event.addListener(markers[i], 'click', function () {
                    for(var j = 0; j < infowindows.length; j++){
                        infowindows[j].close();
                    }
                    //infowindows.open(map, markers[i]);
                    infowindows[this.index].open(map,markers[this.index]);
                    map.panTo(markers[this.index].getPosition());                
            });
        }
}
    function initMap() {
       
       
        // Créé un marqueur avec titre + position (il est en autralie pour l'instant).
        /*var marker = new google.maps.Marker({
            map: map,
            position: {
                lat: -25.363, 
                lng: 131.044
            },
            title: 'Test marqueur !'
        });
        
        // Contenu de l'info bulle du marqueur
        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
            'sandstone rock formation in the southern part of the '+
            'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
            'south west of the nearest large town, Alice Springs; 450&#160;km '+
            '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
            'features of the Uluru - Kata Tjuta National Park. Uluru is '+
            'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
            'Aboriginal people of the area. It has many springs, waterholes, '+
            'rock caves and ancient paintings. Uluru is listed as a World '+
            'Heritage Site.</p>'+
            '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
            'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
            '(last visited June 22, 2009).</p>'+
            '</div>'+
            '</div>';
        
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });*/
       
        
 
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDIyBVXMvxcz80bm5lJ2KzURksGmma92M&callback=initMap"
        async defer></script>

<div class="row">
</div>