@{
    ViewData["Title"] = "Map";
    ViewData["Desc"] = "Affichage des points d'intérêt sur une map";
}
<div class="row">
    <div class="col-md-12">
        <h1>Map <small>/Map/Map</small></h1>
        <p>Ceci est le contenu de la vue Map, action Map</p>
    </div>
</div>
<div id="map"></div>

	<script src="../../wwwroot/js/script.js"></script>
	<script async defer 
					src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDIyBVXMvxcz80bm5lJ2KzURksGmma92M&callback=initMap"></script>
<div class="row">
</div>