@using Isen.DotNet.Library.Models.Implementation;
@{
    ViewData["Title"] = "Departement (détail)";
}
@model Departement

<div class="row">
    <div class="col-md-12">
        <h1>Home <small>/departement/detail</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" asp-action="Detail">
            <input type="hidden" value="@Model?.Id" asp-for="Id" />
            <div>
                <label for="Name" class="control-label">Nom du departement :</label>
                <input type="text" class="form-control"
                    id="Name" placeholder="Nom du departement"
                    value="@Model?.Name" asp-for="Name" />
            </div>
            <div>
                <label for="Name" class="control-label">Numéro de departement :</label>
                <input type="text" class="form-control"
                    id="Numero" placeholder="Numero de departement"
                    value="@Model?.Numero" asp-for="Numero" />
            </div>
            <br />
            <input type="submit" class="btn btn-primary" value="Valider" />
            <a class="btn btn-default" 
                asp-controller="Departement" asp-action="Index">Annuler</a>
        </form>
    </div>
</div>