@using Isen.DotNet.Library.Models.Implementation;
@using Isen.DotNet.Library.Repositories.Interfaces;
@{
    ViewData["Title"] = "Personne (détail)";
}
@inject ICityRepository _cityRepository;
@model Person

<div class="row">
    <div class="col-md-12">
        <h1>Détail d'une ville <small>/person/detail</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form" asp-action="Detail">

            <input type="hidden" 
                value="@Model?.Id" asp-for="Id" />

            <div>
                <label for="FirstName" class="control-label">
                    Prénom :
                </label>
                <input type="text" class="form-control"
                    id="FirstName" placeholder="Prénom"
                    value="@Model?.FirstName" asp-for="FirstName" />
            </div>

            <div>
                <label for="LastName" class="control-label">
                    Prénom :
                </label>
                <input type="text" class="form-control"
                    id="LastName" placeholder="Nom"
                    value="@Model?.LastName" asp-for="LastName" />
            </div>

            <div>
                <label for="BirthDate" class="control-label">
                    Date de naissance :
                </label>
                <input type="date" class="form-control"
                    id="BirthDate" 
                    value="@Model?.BirthDate?.ToString("yyyy-MM-dd")" 
                    asp-for="BirthDate" />
            </div>

            <div>
                <label for="CityId">
                    Ville : 
                </label>
                @Html.DropDownListFor(
                    // Champ du modèle (quelle ville faut-il sélectionner)
                    // Le moteur Razor sait que p est une Personne
                    // grace à @model Person
                    p => p.CityId,
                    // Remplissage de la liste
                    new SelectList(
                        // Liste des entités qui peuplent la liste
                        // voir @using et @inject en haut de fichier
                        _cityRepository.GetAll(), 
                        // Champ de clé
                        "Id", 
                        // Champ d'affichage
                        "Name"),
                    // Item par défaut
                    "<Sélectionnez une ville>",
                    // Classe CSS
                    // Le @ n'est pas celui de Razor mais celui du C#
                    // Si on veut nommer une classe ou un champ avec un 
                    // mot clé du langage, on le fait précéder d'un @
                    new { @class = "form-control" })
            </div>


            <br />

            <input type="submit" class="btn btn-primary"
                value="Valider" />
            <a class="btn btn-default" 
                asp-controller="Person" asp-action="Index">Annuler</a>
        </form>
    </div>
</div>