@{
    ViewData["Title"] = "About";
    Layout = "_LayoutEmpty";
}
<div class="row">
    <div class="col-md-12">
        <h1>Home <small>/home/about</small></h1>
        <p>Ceci est le contenu de la vue Home, action About</p>
    </div>
</div>